* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: radial-gradient(circle at top left, #000509, #000);
    color: #fff;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: transparent;
}

.logo {
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar nav a {
    text-decoration: none;
    color: #cfd6ff;
    font-size: 14px;
}

.navbar nav a:hover {
    color: #bdc7fd;
    font-weight:bolder;
}

.signup-btn {
    background: #2d4bff;
    border: none;
    padding: 8px 18px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.signup-btn:hover{
    font-weight:bolder;
    box-shadow:
  0 0 20px rgba(59, 130, 246, 0.45),
  0 0 40px rgba(59, 130, 246, 0.35);
}
/* HERO SECTION */
.hero {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    padding: 60px;
    gap: 40px;
    background-image: url("/assests/India-map2.png");
    background-size: cover;        
    background-position: center;   

}

.hero-left {
    flex: 1;
}

.hero-left h1 {
    font-size: 44px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-left h1 span {
    color: #cfd6ff;
}

.hero-left p {
    max-width: 480px;
    color: #9aa3c7;
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.explore-btn {
    display: inline-block;
    background: #f5b400;
    color: #000;
    padding: 14px 26px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    
}

.explore-btn:hover{
    color: white;
    font-weight: bold;
    box-shadow:
  0 0 20px rgba(231, 228, 13, 0.45),
  0 0 40px rgba(199, 164, 9, 0.35);
}

/* Our Product */
.ecosystem {
    padding: 80px 60px;
    background: radial-gradient(circle at center, #0a0f1f, #000);
}

.eco-heading {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 50px;
}

.eco-heading h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #ffffff;
}

.eco-heading p {
    font-size: 15px;
    color: #9aa3c7;
    line-height: 1.6;
}


.eco-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.eco-card {
    border: 1.5px solid rgba(255,255,255,0.4);
    border-radius: 22px;
    padding: 30px;
    background: linear-gradient(180deg, rgba(10,15,30,0.9), rgba(0,0,0,0.9));
    transition: all 0.3s ease;
}

.eco-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 25px rgba(255,180,0,0.25);
}

.eco-card img {
    width: 90px;
    height: 60px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.eco-card h3 {
    font-size: 22px;
    margin-bottom: 12px;
    color: #ffffff;
}

.eco-card p {
    font-size: 14px;
    line-height: 1.6;
    color: #f5c542;
    margin-bottom: 10px;
}

.eco-card span {
    font-size: 13px;
    color: #ffffff;
    font-style: italic;
}

.why-keshav {
    padding: 90px 60px;
    background: radial-gradient(circle at top, #0a0f1f, #000);
    color: #fff;
}

/* HEADING */
.why-keshav {
    padding: 90px 60px;
    background: radial-gradient(circle at top, #0a0f1f, #000);
    color: #fff;
}

/* HEADING */
.why-heading {
    text-align: center;
    margin-bottom: 60px;
}

.why-heading h2 {
    font-size: 38px;
    margin-bottom: 10px;
}

.why-heading p {
    font-size: 15px;
    color: #9aa3c7;
}

/* CARDS */
.why-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.why-card {
    border: 1.5px solid rgba(80,100,255,0.6);
    border-radius: 18px;
    padding: 35px 30px;
    background: linear-gradient(180deg, rgba(10,15,30,0.85), rgba(0,0,0,0.95));
    transition: all 0.3s ease;
}

.why-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 30px rgba(80,100,255,0.35);
}

/* ICON */
.icon-circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1.5px solid rgba(255,255,255,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.icon-circle img {
    width: 45px;
    height: 45px;
    object-fit: contain;
}

/* TEXT */
.why-card h3 {
    font-size: 20px;
    margin-bottom: 12px;
}

.why-card p {
    font-size: 14px;
    line-height: 1.6;
    color: #9aa3c7;
}

/* Vision */
.vision-section {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}

.vision-card {
  max-width: 900px;
  padding: 50px 40px;
  border-radius: 18px;
  text-align: center;
  background: linear-gradient(180deg, #081e47, #010829);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.6);
}

.vision-card h2 {
  color: #ffffff;
  font-size: 34px;
  margin-bottom: 20px;
}

.vision-card p {
  color: #9ca3af;
  font-size: 16px;
  line-height: 1.8;
}

/* Partner */
.partner-section {
  padding: 100px 20px;
  display: flex;
  justify-content: center;
}

.partner-card {
  width: 100%;
  max-width: 900px;
  padding: 80px 40px;
  border-radius: 20px;
  text-align: center;
  background: linear-gradient(180deg, #020617 0%, #e5e7eb 100%);
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.7);
}

.partner-card h2 {
  color: #ffffff;
  font-size: 34px;
  margin-bottom: 10px;
}

.partner-card p {
  color: #e5e7eb;
  font-size: 16px;
  margin-bottom: 30px;
}

.partner-btn {
  display: inline-block;
  padding: 12px 30px;
  background: #ffffff;
  color: #2563eb;
  font-size: 15px;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.partner-btn:hover {
  color: #2563eb;
  transform: translateY(-3px);
  box-shadow: 0 12px 30px rgba(37, 99, 235, 0.4);
}

/* footer */
.footer {
  background: #020617;
  color: #cbd5f5;
  font-family: "Segoe UI", sans-serif;
}

/* Top Heading */
.footer-top {

  padding: 30px 120px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-top h3 {
  color: #fff;
  font-size: 20px;
}

/* Sections */
.footer-section {
  padding: 50px 20px;
}

.footer-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-col h4 {
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 15px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  font-size: 14px;
  color: #94a3b8;
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-col ul li:hover {
  color: #38bdf8;
}

/* Bottom Paragraph */
.footer-bottom {
  text-align: center;
  padding: 25px 20px;
  border-top: 1px solid rgba(255,255,255,0.1);
  font-size: 13px;
  color: #9ca3af;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
}


/* RESPONSIVE */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-left p {
        margin: auto;
    }

    .navbar {
        padding: 20px;
    }

    .eco-grid {
        grid-template-columns: 1fr;
    }

    .ecosystem {
        padding: 50px 20px;
    }

    .why-cards {
        grid-template-columns: 1fr;
    }

    .why-keshav {
        padding: 60px 20px;
    }

}
